/*Website style sheet*/

@font-face {
    font-family: 'Titillium Web Regular';
    src: url(fonts/TitilliumWeb-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Titillium Web Bold';
    src: url(fonts/TitilliumWeb-Bold.ttf) format('truetype');
}

header {
    background-color: rgb(92, 158, 221);
    padding: 10px;
    text-align: center;
    font-family: 'Titillium Web Bold', sans-serif;
   
}

header p {
    font-family: 'Titillium Web Bold ; san-serif;   
    color: black;
    font-size: 20px;
    margin-top: 10px;
}



body {
    background-color: rgb(198, 198, 219)
    
}

h1, h2, h3 {
    font-family: 'Titillium Web Bold', sans-serif;
    color: black;
}

p {
    font-family: 'Titillium Web Regular', sans-serif;
    color: black;
    font-size: 20px
}
h1 {
    color: black; 
    font-size: 80px;
    font-weight: 700
    font-family: 'Titillium Web Regular', sans-serif;
    text-align: center;
    margin-top: 50px; 
    border-bottom: 1px solid black;
}

ol, ul {
    font-family: 'Titillium Web Regular', sans-serif;
    color: black;
    font-size: 20px;
    margin-left:40px;
    margin-top:30px;
    width:50%
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(240, 150, 24);
    border-radius: 10px;
    text-align: center;
    
}

.list-box {
    border: 2px solid #ccc;
    padding; 40px;
    margin-top; 25px;
    margin-bottom: 25px;
    width:50%;
    border-radius: 10px;
    background-color: #67ea8a;
    text-align: left;
}

.content-box {
    border: 5px solid rgb(98, 152, 221);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: rgb(240,150, 24);
    text-align: center;
   
}
footer p {
    font-family: 'Titillium Web Regular', sans-serif;
    color: black;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

a {
    color: blue;
    text-decoration: none;
    font-family: ; 'Titillium Web Regular', sans-serif;
}

.bg-section {
    background-image: url("https://plus.unsplash.com/premium_photo-1664297436720-dfd46b2a51de?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    border: 2px solid black
    width: 50%;
    height: 400px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: : center;
}

.innovate-box {
    background-color: rgb(24, 146, 240);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
}